body {
  background-color: darkslategrey !important;
  color: #E0E0E0; /* Optional, for text contrast */
}


.buttonColor{
  background-color: var(--btn-bg-color) !important; 
  color: var(--primary-text-color);
}

.buttonColor:hover{
  color: #fff;
}


.full-height {
  height: calc(100vh - 400px); /* Adjust the height based on your navbar */
}

.custom-searchResult-margin {
  margin-top: 100px !important; 
}

.container{
  margin-top: 100px;
}

.primDiv{
  background-color: var(--primary-div) !important;
  color: #fff !important;
}

.secondDiv{
  background-color: var(--second-div) !important;
  color: #fff !important;
}
.container{
  height: 100%;
  border-radius: 10px;
}

.customBorder{
  border: 1px solid grey;
}

.modal-header {
  border-bottom: none !important;
  color: #fff;
}

.modal-footer {
  border-top: none !important;
}


input::placeholder {
  text-align: left;
}

.noBorder{
  border: none !important;
  text-align: center;
}

.JustNoBorder{
  border: none !important;

}