body {
  background-color: darkslategrey !important;
  color: #E0E0E0; /* Optional, for text contrast */
}


.buttonColor{
  background-color: var(--btn-bg-color) !important; 
  color: var(--primary-text-color);
}

.buttonColor:hover{
  color: #fff;
}


.full-height {
  height: calc(100vh - 400px); /* Adjust the height based on your navbar */
}

.custom-searchResult-margin {
  margin-top: 100px !important; 
}

.container{
  margin-top: 100px;
}

.primDiv2{
  background-color: var(--second-div) !important;
  color: #686D76 !important;
}
.primDiv{
  color: #B7B597 !important;
}
.primDiv3{
  /* background-color: #B7B597 !important; */
  color: #686D76 !important;
}
.secondDiv{
  background-color: var(--second-div) !important;
  color: #686D76 !important;
}
.container{
  height: 100%;
  border-radius: 10px;
}

.customBorder{
  border: 1px solid grey;
}

.modal-header {
  border-bottom: none !important;
  color: #fff;
}

.modal-footer {
  border-top: none !important;
}


input::placeholder {
  text-align: left;
}

.noBorder{
  border: 1px solid darkslategrey;
  text-align: center;
  
}

.JustNoBorder{
  border: none !important;

}