@import './styles/variables.css';

/* General Styles */
body {
  background-color: var(--primary-text-color); /* White */
  margin: 0;
}

/* Navigation Bar */
.navbar {
  background-color: var(--primary-bg-color); /* Black */
  padding: 1rem;
}

.nav-link{
  color: white !important;
}

.center-logo {
  width: 40px; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px; /* Add space to the right if needed */
  display: block; /* Ensure it behaves like a block element */
  max-height: 100%; /* Prevent it from overflowing the navbar */
  border-radius: 50%;

}




.buttonColor{
  background-color: var(--btn-bg-color) !important; 
  color: var(--primary-text-color);
}

.buttonColor:hover{
  color: #fff;
}