*, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* *********** Header *********** */

.header, .header .container-fluid, .header .container-fluid .row{
    margin: 0;
    padding: 0;
    width: 100%;
}

.header .container-fluid .headerImage{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 90vh;
}

.header .container-fluid .headerImage img{
    width: 100%;
    height: 90vh;
}

.header .container-fluid .headerContent{
    width: 30%;
    color: #eee;
    position: absolute;
    top: 25em;
    right: 25em;
    text-align: right;
}

.header .container-fluid .headerContent h1{
    font-family: "Cairo", sans-serif;
    font-weight: bold;
    font-size: 4em;
}

.header .container-fluid .headerContent p{
    font-family: "Markazi Text", serif;
    font-size: 1.5em;
}

@media (max-width : 1024px){
    .header .container-fluid .headerContent{
        width: 40%;
        right: 5em;
        top: 30em;
    }
}

@media (max-width: 986px) {
    .header .container-fluid .headerImage{
        height: 70vh;
    }
    .header .container-fluid .headerImage img{
        height: 70vh;
    }
    .header .container-fluid .headerContent{
        top: 20em;
    }
}

@media (max-width : 767px){
    .header .container-fluid .headerContent{
        width: 60%;
        right: 0.5em;
        top: 13em;
    }
    .header .container-fluid .headerContent h1{
        font-size: 2em;
    }
    
    .header .container-fluid .headerContent p{
        font-size: 1em;
    }
}

@media (max-width : 320px){
    .header .container-fluid .headerContent{
        top: 5em;
    }
}

/* *********** About *********** */
.about .container{
    text-align: right;
    padding: 50px 30px;
    font-family: "Markazi Text", serif;
    font-size: 1.2em;
}

.about .container p{
    line-height: 2em;
}

.about .container p span{
    font-weight: bold;
}

/* *********** Cards *********** */
