*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: black;
    /* overflow: hidden; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 200px;
}

.navbar img {
    width: 80%;
    margin-left: 16%;
}

.navbar a.nav-link {
    text-decoration: none;
    color: #eee;
    font-size: 1em;
    font-weight: 200;
    font-family: 'Markazi Text', serif;
    white-space: nowrap;
}

.navbar-nav .nav-item {
    white-space: nowrap;
}













.footer {
    background-color: black;
    color: #bac1c7;
    /* padding: 20px 0; */
    /* position: fixed; */
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    line-height: 1.42857143;

}

.footer ul li{
    list-style-type: none; /* Remove bullets */
}
.footer ul{
    margin-left: -9%;
}
.footer .social-icons a {
    color: #eee;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.5em;
}

.footer .text-center {
    margin-bottom: 10px;
}

.footer div{
    margin-top: 16px;
}
.social-icons i {
    margin-top: 14%;
}
