*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */

.navbar {
    background-color: black;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 200px;
    text-align: center;
}

.navbar img {
    width: 80%;
    margin-left: 16%;
}

.navbar a.nav-link {
    text-decoration: none;
    color: #eee;
    font-size: 1em;
    font-weight: 200;
    font-family: 'Markazi Text', serif;
    white-space: nowrap;
}

.navbar-nav .nav-item {
    white-space: nowrap;
}

.navbar-toggler {
    color: #eee;
}

.btn-red{
    background-color: #BF1524;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    padding: 0px 20px;
    margin-left: 10px;
    position: relative;
    z-index: 1;
    text-align: center;
}

.btn-red a.nav-link{
    font-weight: bold;
}

.btn-red::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    background: #c42a22;
    z-index: -1;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
}

.btn-red:hover::before {
    width: 100%;
}

@media (max-width: 1024px) {
    .navbar {
        justify-content: space-between;
        padding: 10px;
    }
    .navbar img {
        margin-left: 10px;
    }
}

/* Footer */

.footer {
    background-color: black;
    color: #bac1c7;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    line-height: 1.42857143;

}

.footer ul li{
    list-style-type: none;
}
.footer ul{
    margin-left: -9%;
}
.footer .social-icons a {
    color: #eee;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.5em;
}

.footer .text-center {
    margin-bottom: 10px;
}

.footer div{
    margin-top: 16px;
}
.social-icons i {
    margin-top: 14%;
}
