<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>  الاستشارات اللايف والمسجلة | easyT.online | إيزيتى</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">     <!-- This bootstrap version is 5.3.3 the offline one -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">  <!-- This bootstrap version is better, the first one chatGPT gave me,lol i like it more-->
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/consulting.css">
    <link rel="stylesheet" href="../static/css/all.min.css">

</head>
<body>
    <!-- nav -->
    <div id="nav-placeholder"></div>

       <!-- sec1 -->
    <section class="header">
      <div class="overlay-text ">
        <div class="d-flex flex-column ">
                <div class="mt-4 rtl-text cairo-font ">الاستشارات اللايف<br> والمسجلة</div>
                <div class="rtl-text mt-2 custom-font">GROW YOUR BUSINESS </div>
              </div>
            </div>
          </section>

      <!-- sec2-->
       <section class=" container " >
              <div class="card-body rtl-text" >
                <p class="card-text">
                    <span class="text-danger">الاستشارات المسجلة :</span>
                                هى محاضرات مسجلة يتم الإجابة فيها عن استفسارات المشتركين، حيث يمكنك الاشتراك فى هذه الخدمة،
                                ثم ترك استفساراتك والأسئلة التى تريد إجابات عنها، وسوف يقوم المختصين بالاجابة عن الأسئلة وتسجيلها فى  
                                محاضرة تضاف كل فترة إلى حسابك فى المنصة، ويمكنك الاستفادة من متابعة الردود على اسئلتك وكذلك الردود على أسئلة باقى المشتركين.</p> 

                <p class="card-text" >
                    <span class="text-danger">أما الاستشارة الايف :</span>فهى محاضرة خاصة مدفوعة تعقد مباشرة مع المحاضر من خلال برنامج زووم حيث يمكنك التفاعل 
                    مع المحاضر وجها لوجه للإجابة على استفساراتك ويستطيع أن يدخل إلى جهازك ويحل لك المشاكل ويساعدك على فهم
                     أعمق للموضوعات التى تخص مجال عملك، بعد حجز الاستشارة سوف يصلك على الايميل رابط غرفة زووم.</p> 
              </div>
            </section>

        <!-- sec3 -->
          <section class=" bg-light">
            <h1 class="hed-sec3 text-dark text-center p-4">الاشتراك في خدمه الاستشارات المسجلة</h1>
            <div class="container w-100">
              <div class="row w-100">
                <div class="col-md-4 col-12 text-center mb-4">
                  <img src="../static/imgs/استشارات مسجلة ديجيتال ماركيتنج.png" class="img-fluid" alt="استشارات مسجلة ديجيتال ماركيتنج" width="300" height="170">
                  <p class="img-Desc mt-4">اشتراك فى خدمة الاستشارات المسجلة<br> للديجيتال ماركيتنج</p>
                  <p class="img-Desc text-danger" style="font-size: 13px; line-height: 16px;">اشتراك شهرى بقيمة 1.5 دولار</p>
                </div>
                <div class="col-md-4 col-12 text-center mb-4">
                  <img src="../static/imgs/استشارات مسجلة جرافيكس.png" class="img-fluid" alt="استشارات مسجلة جرافيكس" width="300" height="170">
                  <p class="img-Desc mt-4"><span class="img-Span text-danger">قريبًا..</span> خدمة الاستشارات المسجلة<br> للجرافيك والموشن جرافيك</p>
                </div>
                <div class="col-md-4 col-12 text-center mb-4">
                  <img src="../static/imgs/استشارات مسجلة برمجة.png" class="img-fluid" alt="استشارات مسجلة برمجة" width="300" height="170">
                  <p class="img-Desc mt-4"><span class="img-Span text-danger">قريبًا..</span> خدمة الاستشارات المسجلة<br> لبرمجه وتطوير المواقع والتطبيقات</p>
                </div>
              </div>
            </div>
            <div class="block-text w-100 d-flex justify-content-center align-items-center" >
              <p class="text-light text-center mt-4" >بعد الاشتراك ستجد رابط خدمة الاستشارات فى القسم (دوراتى)، ادخل إلى الرابط واترك استفسارك وسوف يتم الرد على جميع الاستفسارات فى محاضرة مسجلة حين يتم تجميع عدد مناسب من الأسئلة</p>
            </div>
            <div class="block-text2 container text-align-center rtl-text p-2">
            <p class="text-dark " >
                <p>  الاستشارات خاصة بمشتركى كورسات المنصة</p>

                <p>يتم الرد فى المحاضرة المسجلة على الأسئلة والاستفسارات التى ترد إلى المنصة فى خلال الشهر أو كلما تجمع عدد مناسب من الأسئلة</p>
                
                <p>إذا كانت إجابة السؤال مشروحة بالتفصيل فى أحد الكورسات سوف يتم الإشارة إلى ذلك ليتم إعادة مشاهدة الدرس
                    <p>إذا كانت إجابة السؤال مشروحة بالتفصيل فى أحد الكورسات سوف يتم الإشارة إلى ذلك ليتم إعادة مشاهدة الدرس
                
                <p>يتم تجديد الاشتراك تلقائيًا ما لم يقم المشترك بإلغاء الاشتراك</p>
            </p></div>
          </section>

        <!-- sec4 -->
          <section class="container-fluid text-align-center mb-4">
            <div class="sec4-hed mt-4">
                <h1 class="text-dark custom-font text-center">حجز الاستشارات اللايف</h1>
                <p class="text-dark block-text2 text-center mb-4">مدة الاستشارة ساعة نظير 45 دولار</p>
            </div>
            <div class="parent-div mt-4 w-100">
                <div class="parent-div-body m-auto w-75">
                    <div class="row d-flex align-items-start justify-content-center" style="gap: 26px;">
                        <div class="col-md-4 col-12 m-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-title d-flex align-items-center justify-content-between">
                                        <span class="card-title-point"></span>
                                        <h5 class="card-title-hed mb-0">استشارة في الجرافيك</h5>
                                        <span class="ml-auto"><i class="fa-solid fa-angle-right"></i></span> 
                                    </div>
                                    <p class="card-text">محاضره خاصه من خلال برنامج زووم One To One</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-12 m-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-title d-flex align-items-center justify-content-between">
                                        <span class="card-title-point"></span>
                                        <h5 class="card-title-hed mb-0">استشارة في الديجيتال ماركيتنج</h5>
                                        <span class="ml-auto"><i class="fa-solid fa-angle-right"></i></span> 
                                    </div>
                                    <p class="card-text">محاضره خاصه من خلال برنامج زووم One To One</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="text-dark block-text2 text-center mt-4"> بعد حجز الاستشارة سوف يصلك على الايميل رابط غرفة زووم </p>
            </div>
        </section>
    
        <!-- footer -->
    <div id="footer-placeholder"></div>
   <script src="../static/js/main.js"></script>
</body>
</html>