<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diploma Page</title>
    <link rel="icon" type="image/x-icon" href="./../static/imgs/easy 300x300.png">
    <link rel="stylesheet" href="./../static/fonts/Cairo-VariableFont_slnt,wght.ttf">
    <link rel="stylesheet" href="./../static/fonts/MarkaziText-VariableFont_wght.ttf">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Markazi+Text:wght@400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="./../static/css/main.css">
    <link rel="stylesheet" href="./../static/css/booksStyle.css">
</head>
<body>

    <!-- ------------------- Navbar ------------------- -->
    <div id="nav-placeholder"></div> 

    <!-- ------------------- Header ------------------- -->
    <section class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 headerImage">
                    <img src="./../static/imgs/booksCover.png" alt="Diploma Image Cover">
                </div>
                <div class="col-12 headerContent">
                    <h1>الدبلومات</h1>
                    <p>مجموعة من الدورات المتخصصة المجمعة تحت عناوين دبلومات متنوعة</p>
                </div>
            </div>
        </div>
    </section>

    <!-- ------------------- About ------------------- -->
    <section class="about">
        <div class="container">
            <div class="row">
                <p>
                    <span>الدبلومات التدريبية المتخصصة </span>هي مجموعة مختارة بعناية من الدورات التدريبية المتنوعة، والتي تم تجميعها تحت عناوين دبلومات متعددة. تقدم هذه الدبلومات الدورات التى تحتويها بأسعار أكثر تيسيرًا مقارنة بشراء كل دورة على حدة وذلك بهدف تزويد المتدربين بالمهارات المحددة التي تمكنهم من الاحتراف في مجال معين</p>
                <p>من خلال الاشتراك في إحدى هذه الدبلومات، سيحصل المتدرب على تعليم شامل يغطي كافة الجوانب الأساسية والمهارات العملية التي يحتاجها لتحقيق التميز في هذا المجال. وبالتالي، فإن الاستثمار في إحدى هذه الدبلومات ليس مجرد خطوة تعليمية، بل هو بوّابة نحو التفوق المهني وبناء مستقبل واعد</p>
            </div>
        </div>
    </section>

    <!-- ------------------- Cards ------------------- -->


    <!-- ------------------- Footer ------------------- -->
    <div id="footer-placeholder"></div>

    <!-- ------------------- Scripts ------------------- -->
    <script src="./../static/js/bootstrap.min.js"></script>
    <script src="./../static/js/main.js"></script>
    <script src="./../static/js/diplomaPage.js"></script>
</body>
</html>