<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>Main</title>
</head>
<body>
  
  <nav class="navbar navbar-expand-xl navbar-dark">
    <a class="navbar-brand" href="#">
        <img src="../static/imgs/logo.png" alt="easyT.online" class="center-logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="#">الاستشارات</a></li>
            <li class="nav-item"><a class="nav-link" href="#">الاشتركات</a></li>
            <li class="nav-item"><a class="nav-link" href="#">الكتب والملحقات</a></li>
            <li class="nav-item"><a class="nav-link" href="#">كورسات الشهر</a></li>
            <li class="nav-item"><a class="nav-link" href="#">جميع الكورسات</a></li>
            <li class="nav-item"><a class="nav-link" href="#">كورسات ليف</a></li>
            <li class="nav-item"><a class="nav-link" href="#">الدبلومات</a></li>
            <li class="nav-item"><a class="nav-link" href="#">تسجيل دخول</a></li>
            <li class="nav-item"><a class="nav-link" href="#">إنشاء حساب</a></li>
        </ul>
    </div>
</nav>
<div>
  Everything is connected
</div>

<footer class="footer">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-4">
        <p>© easyT.online | 2024</p>
        <p>شروط الاستخدام والضمان</p>
        <p>سياسة الخصوصية</p>
      </div>
      <div class="col-md-4 social-icons">
        <a href="#"><i class="fab fa-youtube"></i></a>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
        <a href="#"><i class="fab fa-whatsapp"></i></a>
        <a href="#"><i class="fas fa-envelope"></i></a>
      </div>
      <div class="col-md-4">
        <ul>
          <li>مساعدة</li>
          <li>طرق الدفع</li>
          <li>كيفية الاستخدام والشراء</li>
          <li>برنامج التسويق بالعمولة</li>
          <li>انضم إلينا كمحاضر</li>
          <li>من نحن؟</li>
        </ul>
      </div>
    </div>
  </div>
</footer>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
