<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nav</title>
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-xl navbar-dark fixed-top">
            <a class="navbar-brand" href="#">
                <img src="../static/imgs/logo.png" alt="easyT.online" class="center-logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="../templates/consulting.html" target="_blank">الاستشارات</a></li>
                    <li class="nav-item"><a class="nav-link" href="../templates/subscriptions.html" target="_blank">الاشتركات</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">الكتب والملحقات</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">كورسات الشهر</a></li>
                    <li class="nav-item"><a class="nav-link" href="../templates/courses.html">جميع الكورسات</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">كورسات ليف</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">الدبلومات</a></li>
                    <li class="nav-item"><a class="nav-link" href="../templates/login.html">تسجيل دخول</a></li>
                    <li class="nav-item red"><a class="nav-link" href="../templates/signUp.html">إنشاء حساب</a></li>
                </ul>
            </div>
        </nav>
    </div>
</body>

</html>