<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">     <!-- This bootstrap version is 5.3.3 the offline one -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">  <!-- This bootstrap version is better, the first one chatGPT gave me,lol i like it more-->
    <link rel="stylesheet" href="../static/css/auth.css">
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar">
        <a class="navbar-brand mx-auto" href="#">
            <img src="../static/imgs/logo.png" alt="easyT.online" class="center-logo">
        </a>
    </nav>

    <!-- SignUp Form -->
    <div class="container d-flex align-items-center justify-content-center">
        <div class="login-form">
            <form>
                <h2 class="text-center">إنشاء حساب جديد</h2>
                <br>
                <button type="button" id="signupButton" class="btn btn-danger btn-block">التسجيل باستخدام الايميل</button>
                <hr>
                <div class="text-center mt-3">
                    <button type="button" class="btn btn-light btn-block"><img src="../static/imgs/GoogleLogo.svg" alt="Google">التسجيل باستخدام حساب جوجل</button>
                    <br>
                </div>

                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="AgreeToCommunication">
                    <label id="customLabel" class="form-check-label" for="rememberMe">أوافق على تلقى رسائل بالعروض والخصومات والاشعارات الهامة بخصوص الدورات</label>
                    <p id="customLabel"> يعد إنشاء حساب فى المنصة بمثابة موافقة على شروط الاستخدام و على سياسة الخصوصية </p>
                </div>

                <p class="text-center mt-3"> هل لديك حساب بالفعل ؟  <a href="login.html">دخول</a></p>
            </form>
        </div>
    </div>

    <!-- Footer -->
    <footer class="text-center py-3">
        © easyT.online | 2024
    </footer>

    <script>
        document.getElementById('signupButton').addEventListener('click', function() {
            window.location.href = 'signUpUsingEmail.html';
        });
    </script>
</body>
</html>
