<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">     <!-- This bootstrap version is 5.3.3 the offline one -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">  <!-- This bootstrap version is better, the first one chatGPT gave me,lol i like it more-->
    <link rel="stylesheet" href="../static/css/auth.css">
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar">
        <a class="navbar-brand mx-auto" href="#">
            <img src="../static/imgs/logo.png" alt="easyT.online" class="center-logo">
        </a>
    </nav>

    <!-- Login Form -->
    <div class="container d-flex align-items-center justify-content-center">
        <div class="login-form">
            <form>
                <h2 class="text-center">إنشاء حساب جديد</h2>
                <div class="form-group">
                    <label for="fullName">الاسم بالكامل كما تحب أن يظهر فى الشهادة </label>
                    <input type="text" class="form-control" id="fullNmae" placeholder="الاسم">
                </div>
                <div class="form-group">
                    <label for="email">الايميل</label>
                    <input type="email" class="form-control" id="email" placeholder="الايميل">
                </div>
                <div class="form-group">
                    <label for="password">كلمة المرور (باللغة الانجليزية)</label>
                    <input type="password" class="form-control" id="password" placeholder="كلمة المرور">
                </div>
                <button type="submit" class="btn btn-danger btn-block">إنشاء الحساب</button>
                <p class="text-center mt-3"> هل لديك حساب بالفعل ؟  <a href="login.html">دخول</a></p>

            </form>
        </div>
    </div>

    <!-- Footer -->
    <footer class="text-center py-3">
        © easyT.online | 2024
    </footer>

    
</body>
</html>
