<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>

    <div id="nav-placeholder"></div> 
        
     <!--  content --> 
 
<!-- <div id="footer-placeholder"></div> -->
    

    <script> 
        function loadHTML(elementID, filePath) { 
          fetch(filePath) 
            .then(response => response.text()) 
            .then(data => { 
              document.getElementById(elementID).innerHTML = data; 
            }); 
        } 
     
        loadHTML('nav-placeholder', '/home/mr124/Documents/DEPI/Project/DepiBookStore/templates/main.html'); 
      </script>
</body>
</html>