@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

.nav-color {
  background-color: #3c486b;
  color: #fff;
}
.imgResult {
  width: 30% !important;
  height: 50%;
  margin: auto;
}

.custom-searchResult-margin {
  margin-top: 100px !important;
}

.search-dropdown {
  position: absolute; 
}

.center-logo {
  height: 70px; 
  width: 70px;
  margin-left: 40px;
}
.nav-size {
  font-size: 20px;
  font-family: "Playfair Display", serif;
  color: #fff;
}
