.btn-link {
  background: none;
  border: none;
  color: inherit; /* Use the inherited color */
  cursor: pointer;
  padding: 0; /* Remove padding */
}

.btn-link i {
  margin: 0 5px; /* Add some spacing between icons */
}

.btn-link:hover{
  color: red !important;
}


footer ul li{
  list-style-type: none; /* Remove bullets */
}



.footer-nav {
  display: flex; /* Enable Flexbox for the nav */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Align items to the start (left) */
}

.footer-nav .nav-link {
  padding: 5px 0; /* Optional: Add some vertical spacing between links */
}