:root {
    --primary-bg-color: #000;   /* Black */
    --primary-div:rgb(26, 26, 26);
    --second-div:#25313e;
    --primary-text-color: #fff; /* White */
    --btn-bg-color: #333333; /* Red */
    --footer-text-color: #bac1c7; /* Light Grey */
    --form-width: 400px;
    --form-padding: 15px;
    --font-size-small: 0.9rem;
    --font-size-xsmall: 0.64rem;
    --border-radius: 5px;
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
